<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] CafeApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CafeApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /><!--fontawesome sitesinden icon çekmek için bağlantı linkidir sitesinden aldığımız -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
           <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

                <a class=" navbar-brand d-flex flex-row" asp-action="HomePage"><i class="fa-solid fa-martini-glass-citrus" style="font-size:larger;"> </i> <i><b><spam style="font-family:'Lucida Calligraphy';font-size:25px">  EGE RESTAURANT</spam></b></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


        <div class="navbar-collapse " id="navbarNavDropdown">

        <ul class="navbar-nav d-flex flex-row-reverse col-12 collapse">

        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-action="HomePage"></a>
        </li>
        <li class="nav-item">
                            <a class="nav-link" asp-action="About">About</a>
        </li>
        <li class="nav-item">
                            <a class="nav-link" asp-action="Contact">Contact</a>
        </li>
        <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="./" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
        </a>

        <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-action="HotDrinks">Hot Drinks</a></li>
        <li><a class="dropdown-item" asp-action="ColdDrinks">Cold Drinks</a></li>
        <li><a class="dropdown-item" asp-action="Desserts">Desserts</a></li>
        <li><a class="dropdown-item" asp-action="Foods">Foods</a></li>
        <li><a class="dropdown-item" asp-action="ProductAdd">Add New Product</a></li>
        </ul>
        </li>
        </ul>
        </div>

        </div>
        </nav>


       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <center>
            <div class="container">
                &copy; 2023 - EGE RESTAURANT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </center>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
